{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <div class="col-md-12">
        <h1>{% trans "Nova Foto" %}</h1>
        <hr>
        <form class="form well" enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="btn btn-lg btn-success" type="submit" value="Salvar"> {% trans "ou" %} 
            <a class="btn btn-lg btn-default" href="{% url 'photo:list' %}">Voltar</a>
        </form>
    </div>
{% endblock main %}
