{% extends "base.html" %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <style>
        .middle-cell {
            vertical-align: middle !important;
        }
    </style>
{% endblock styles %}

{% block main %}
    <div class="col-md-12">
        <h1>{% trans "Listar Fotos" %}</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome da Imagem</th>
                    <th>Link da Imagem</th>
                </tr>
            </thead>
            <tbody>
                {% for photo in object_list %}
                    <tr>
                        <td><img src="{{ photo.image.url }}" alt="{{ photo.name }}" class="img-thumbnail" width="100" height="100"></td>
                        <td class="middle-cell">{{ photo.name }}</td>
                        <td class="middle-cell"><a target="_blank" href="{{ photo.image.url }}">{% trans "Download da Foto" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <a class="btn btn-lg btn-success" href="#">Adicionar Foto</a> ou 
        <a class="btn btn-lg btn-default" href="{% url 'photo:home' %}">Voltar</a>
    </div>
{% endblock main %}
