{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <div class="col-md-12">
        {% if object.pk %}
            <h1>{% trans "Editar Foto" %}</h1>
        {% else %}
            <h1>{% trans "Nova Foto" %}</h1>
        {% endif %}
        <hr>
        <form class="form well" enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            <img src="{{ photo.image.url }}" alt="{{ photo.name }}" class="img-thumbnail" width="256" height="256">
            {{ form.as_p }}
            <br>
            <input class="btn btn-lg btn-success" type="submit" value="Salvar"> {% trans "ou" %} 
            <a class="btn btn-lg btn-default" href="{% url 'photo:list' %}">Voltar</a>
        </form>
    </div>
{% endblock main %}
